<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, iste aliquid
    autem nostrum ipsam eos maxime ex deleniti in modi sit obcaecati cupiditate
    alias perferendis cumque eligendi, fugit expedita eum!
  </p>
</section>
