---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi neque
    animi molestias reiciendis ex praesentium autem eius aliquid delectus
    voluptas vel consectetur iusto eveniet, in labore ut rem cupiditate.
    Assumenda voluptatibus pariatur aliquam laborum tempora aperiam facilis
    sequi a ipsa alias? Odio eum dolore possimus ipsa commodi atque, perferendis
    quod repellendus quo harum eveniet vel inventore facere repudiandae saepe
    beatae, adipisci quia ducimus eius sunt laborum. Impedit nisi deleniti vero
    corrupti minima, sequi, laborum quis accusamus soluta fuga nihil ratione
    alias odio id voluptatem tempore esse autem ab sed! Eius animi officia
    repellendus placeat dicta natus autem unde quibusdam.
  </p>
</Layout>
